<!DOCTYPE html>
<html>
	<head>
		<title>ASOS Shop-Along Staging</title>
		<base href="" data-base-url="<%= pkg.app.baseUrl %>" data-node-url="<%= pkg.app.nodeUrl %>">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="styles/styles.css">
		<script type="text/javascript" src="https://hangoutsapi.talkgadget.google.com/hangouts/api/hangout.js?v=1.4"></script>
		<script type="text/javascript" src="../../common/scripts/vendor/require.js"></script>
		<script type="text/javascript" src="../app-auth.php"></script>
		<script type="text/javascript" src="scripts/main.js"></script>
	</head>
	<body>
		<div class="root">

			<header>ASOS Shop-Along Staging</header>

			<section id="staging-queue" class="queue">
				<h1>Staging Queue</h1>
				<ul>
					<li class="template">
						<img src="">
						<h2>Name Goes Here</h2>
						<a href="" target="_blank">View Profile</a>
					</li>
				</ul>
			</section>

			<section id="audience-queue" class="queue">
				<h1>Audience Queue</h1>
				<ul>
					<li class="template">
						<img src="">
						<h2>Name Goes Here</h2>
						<a href="" target="_blank">View Profile</a>
						<div class="actions">
							<button type="button" class="invite">Invite</button>
							<button type="button" class="accept">Accept</button>
							<button type="button" class="reject">Reject</button>
						</div>
					</li>
				</ul>
			</section>

		</div>
	</body>
</html>