<?xml version="1.0" encoding="UTF-8" ?>
<Module>
	<ModulePrefs title="ASOS Shop-Along [Admin]">
		<Require feature="rpc" />
		<Require feature="views" />
		<Require feature="locked-domain" />
	</ModulePrefs>
	<Content type="html"><![CDATA[

<%= grunt.file.read('build/admin/admin-app/index.html') %>

	]]></Content>
</Module>