<!DOCTYPE html>
<html>
	<head>
		<title>ASOS Shop-Along [Admin]</title>
		<base href="" data-base-url="<%= pkg.app.baseUrl %>" data-node-url="<%= pkg.app.nodeUrl %>">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="styles/styles.css">
		<script type="text/javascript" src="https://hangoutsapi.talkgadget.google.com/hangouts/api/hangout.js?v=1.4"></script>
		<script type="text/javascript" src="../../common/scripts/vendor/require.js"></script>
		<script type="text/javascript" src="../app-auth.php"></script>
		<script type="text/javascript" src="scripts/main.js"></script>
	</head>
	<body>
		<div class="root">

			<header>ASOS Shop-Along Staging</header>

			<section id="automatic-cycle">

				<h1>Automatic Participant Cycling</h1>
				<div>
					<label>Duration (in seconds) for each each participant is allowed to stay: <input type="number" name="time" value=""></label>
					<button type="button">Enable</button>
				</div>

			</section>

			<section id="participant-list" class="queue">
				<h1>Current Participants</h1>
				<ul>
					<li class="template">
						<img src="">
						<h2>Name Goes Here</h2>
						<a href="" target="_blank">View Profile</a>
						<p class="timer"></p>
						<div class="actions">
							<button type="button" class="kick">Kick</button>
						</div>
					</li>
				</ul>
			</section>

			<section id="staging-queue" class="queue">
				<h1>Staging Queue</h1>
				<ul>
					<li class="template">
						<img src="">
						<h2>Name Goes Here</h2>
						<a href="" target="_blank">View Profile</a>
						<div class="actions">
							<button type="button" class="invite">Invite</button>
						</div>
					</li>
				</ul>
			</section>

		</div>
	</body>
</html>