@baseline: 16px;

@mobile-threshold: 480px;
@small-screen-threshold: 900px;

@video-width: 560px;

@serif-font: Georgia, serif;
@sans-serif-font: Tahoma, Arial, sans-serif;

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}