@font-face {
	font-family: 'FuturaStd';
	src: url('../../common/styles/fonts/futurastd-book-webfont.eot');
	src: url('../../common/styles/fonts/futurastd-book-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../../common/styles/fonts/futurastd-book-webfont.woff') format('woff'),
	     url('../../common/styles/fonts/futurastd-book-webfont.ttf') format('truetype'),
	     url('../../common/styles/fonts/futurastd-book-webfont.svg#FuturaStdBook') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FuturaStdBookOblique'; 
	src: url('../../common/styles/fonts/futurastd-bookoblique-webfont.eot');
	src: url('../../common/styles/fonts/futurastd-bookoblique-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../../common/styles/fonts/futurastd-bookoblique-webfont.woff') format('woff'),
	     url('../../common/styles/fonts/futurastd-bookoblique-webfont.ttf') format('truetype'),
	     url('../../common/styles/fonts/futurastd-bookoblique-webfont.svg#FuturaStdBookOblique') format('svg');
	font-weight: normal;
	font-style: italic;
}

html {
	width: 300px;
	padding: 0;
	margin: 0;
	background: white;
}
body {
	width: 300px;
	padding: 0;
	margin: 0;

	font: normal 14px/18px Tahoma, Arial, sans-serif;
}
.root {
	display: block;
	width: 300px;
	padding: 0;
	//overflow-x: hidden;
	//overflow-y: auto;
}
/*header {
	display: block;
	margin: 8px 8px 24px;
	font: bold 20px/24px @sans-serif-font;
	text-align: center;
}*/
h1 {
	display: block;
	width: 300px;
	height: 150px;
	margin: 0 8px 24px;
	overflow: hidden;

	text-indent: -9999px;
	background: white url('../images/shopalong-logo-desktop.png') no-repeat center bottom;
}
.root > div {
	display: block;
	padding: 12px;
	margin: 8px;

	&.check { background: #F5F5F5; }
	&.accepted { background: #72bb3c; }
	&.rejected { background: #bb493d; }

}
p { margin: 0; }
p + p { margin-top: 8px; }

div.invite {
	padding-top: 6px;
	margin-top: 12px;

	text-align: center;
	border-top: 1px solid #222;

	a {
		display: block;
		margin-top: 8px;
		font-size: 18px;
		line-height: 20px;

		text-decoration: underline;
		cursor: pointer;
	}
}