<!DOCTYPE html>
<html>
	<head>
		<title>ASOS Shop-Along Staging</title>
		<base href="" data-base-url="<%= pkg.app.baseUrl %>" data-node-url="<%= pkg.app.nodeUrl %>">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="styles/styles.css">
		<script type="text/javascript" src="../common/scripts/vendor/modernizr.js"></script>
		<script type="text/javascript" src="https://hangoutsapi.talkgadget.google.com/hangouts/api/hangout.js?v=1.4"></script>
		<script type="text/javascript" src="../common/scripts/vendor/require.js"></script>
		<script type="text/javascript" src="scripts/main.js"></script>
	</head>
	<body>
		<div class="root">

			<h1>ASOS Shop-Along Staging</h1>

			<div class="check" style="display: none;">
				<p>You are currently in the staging area. Please follow the instructions of the administrator to ensure no technical issues which could cause the problem with the live recording.</p>
			</div>

			<div class="accepted" style="display: none;">
				<p>You have been accepted to take part in ASOS Shop-Along session. The link allowing you to take part in the session will show up below as soon as you have moved to the beginning of the queue.</p>
				<div class="invite">
					<p>Click the link below to take part in the live session:</p>
					<a href="" target="_top">JOIN HERE</a>
				</div>
			</div>

			<div class="rejected" style="display: none;">
				<p>Your participancy has been rejected.<br>This window will close in a couple of seconds.</p>
			</div>

		</div>
	</body>
</html>