/* CSS crunched with Crunch - http://crunchapp.net/ */
html body #container ul{list-style:none;border-top:3px solid rgba(0, 0, 0, 0.2);margin:10px 0 0 0;}html body #container ul li{float:left;}html body #container ul li .panelWrapper{padding:5px;border-bottom:3px solid rgba(0, 0, 0, 0.2);margin-bottom:10px;float:left;}html body #container ul li .panelWrapper p{display:block;float:left;}
html body #container ul li .panelWrapper a{float:right;}
