<!DOCTYPE html>
<html>
	<head>
		<title>ASOS Hangout App</title>
		<base href="" data-base-url="<%= pkg.app.baseUrl %>" data-node-url="<%= pkg.app.nodeUrl %>">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" href="styles/styles.css">
		<script type="text/javascript" src="../common/scripts/vendor/modernizr.js"></script>
		<script type="text/javascript" src="https://hangoutsapi.talkgadget.google.com/hangouts/api/hangout.js?v=1.4"></script>
		<script type="text/javascript" src="../common/scripts/vendor/require.js" data-main="scripts/main"></script>
	</head>
	<body>
		<div class="root">

			<header>Shop-Along</header>

			<section id="product-feed">
				<h1>Shop-Along</h1>

				<div class="switcher">
					<img src="images/ratio-27-39.gif">
					<ul><li class="template">
							<a href="" target="_blank">
								<img src="">
								<h2 class="title"></h2>
								<h3 class="price"></h3>
							</a>
					</li></ul>
					<a class="prev"></a>
					<a class="next"></a>
				</div>

				<h2 class="title">ASOS Sweatshirt with Woven Front Tiger Print with Studs</h2>
				<h3 class="price">£28.00</h3>
			</section>

			<section id="twitter-feed">
				<h1>#askasos</h1>
				<div id="live-message" class="blink"></div>

				<div class="switcher">
					<ul><li class="template">
							<a href="" target="_blank">
								<img class="avatar" src="">
								<h2></h2>
							</a>
							<time></time>
							<p class="tweet"></p>
						</li></ul>
					<a class="prev"></a>
					<a class="next"></a>
				</div>

				<a href="https://twitter.com/asos" target="_blank" class="twitter">Join us</a>
			</section>

		</div>
	</body>
</html>